/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 5%;
}

/* Add your styles below */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background-color: #1e1e1e;
}

.grid-item {
  background: lightskyblue;
  display: flex;
  justify-content: flex-start;
}

.grid-item img {
  width: auto
}

.grid-container {
  border: 1px solid black;
  padding: 20px;

  /* Add Grid Props*/
  display: grid;
  grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 100px;
    gap: 8px;
    justify-content: center;
}


header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

nav > a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav > a:hover {
  color: green;
}


